{% extends "base/base.html" %}
{% load staticfiles %}

{% block page_title %}
    Admin of DJShop
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h1>Bundle offers</h1>
        </div>
    </div>
    <a href="{% url 'offers:new_bundle_offer' %}"><span class="fa fa-plus"></span></a>
    {% for bundle_offer in bundle_offers %}
        <div class="row">
            <div class="col-md-12">
                {{bundle_offer.name}}
                <a href="{% url 'offers:edit_bundle_offer' bundle_offer.id %}"><span class="fa fa-pencil"></span></a>
                <a href="{% url 'offers:delete_bundle_offer' bundle_offer.id %}"><span class="fa fa-trash"></span></a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
