{% extends "base/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block page_title %}
    View your shoppint cart
{% endblock %}

{% block content %}
    {{sale.code}} {{sale.final_price}} €

    <h2>Personal data</h2>

    <table class="table">
        <tr>
            <td>First name</td><td>{{sale.first_name}}</td>
        </tr>
        <tr>
            <td>Last name</td><td>{{sale.last_name}}</td>
        </tr>
        <tr>
            <td>Telephone</td><td>{{sale.telephone_number}}</td>
        </tr>
        <tr>
            <td>Email</td><td>{{sale.email}}</td>
        </tr>
    </table>

    <h2>Shopping cart</h2>
    <table class="table">
        <tr>
            <td>Product</td>
            <td>Price</td>
            <td>Amount</td>
            <td>Total price</td>
        </tr>
        {% for sale_detail in sale.sale_details.all %}
            <tr>
                <td>{{sale_detail.product_name}}</td>
                <td>{{sale_detail.product_price}} €</td>
                <td>{{sale_detail.amount}} {% if sale_detail.product_price_type == "price_per_unit" %}units{% else %}grams{% endif %}</td>
                <td>
                    {% if sale_detail.bundle_offer_name %}
                        <strike>{{sale_detail.total_price}} €</strike>
                        {{sale_detail.bundle_offer_name}}
                    {% endif %}
                    {{sale_detail.final_price}} €
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <h2>Total</h2>
        {% if sale.group_offer_name %}
            <strike>{{sale.total_price}} €</strike>
            {{sale.group_offer_name}}
        {% endif %}
        {{sale.final_price}} €
    </div>

    <button>PAY</button>
{% endblock %}